workflows/controle-gastos-telegram-ai.json
{
  "name": "Controle de Gastos via Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receive-telegram-message",
        "options": {
          "responseData": ""
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        2000
      ],
      "id": "71ba49cb-8efe-4cd5-a985-57d41412cb4f",
      "name": "Webhook1",
      "webhookId": "adb8abdb-3488-4eb4-a12e-133a3b767cab"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e159d22-1e35-4ac6-b7c4-23dcd61b2c65",
              "leftValue": "={{ $json.body.message.chat.id }}",
              "rightValue": -4694224419,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        2000
      ],
      "id": "5d0c3797-fb51-47cc-94ff-55778f38a9a6",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        180,
        2220
      ],
      "id": "9f31f7be-b394-4751-a2a6-db809d6333fd",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea5c86e2-c78d-4c8c-8a56-6941636e1342",
              "name": "createdAt",
              "value": "={{ $('Webhook1').item.json.body.message.date }}",
              "type": "string"
            },
            {
              "id": "6ef1a8f4-7b6b-4d1b-b26b-de8f34572c22",
              "name": "messageTxt",
              "value": "={{ $('Webhook1').item.json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "24f6b018-b9c8-43da-82cc-9cd7892ac169",
              "name": "chatId",
              "value": "={{ $json.body.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        1900
      ],
      "id": "be61649c-1201-4483-89db-182636863309",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageTxt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um assistente de classificação financeira.\n\nSeu objetivo é analisar mensagens de texto simples enviadas por usuários no Telegram contendo descrições de gastos pessoais.\n\n**Seu trabalho é extrair os seguintes elementos da mensagem** e devolver um objeto JSON com a seguinte estrutura:\n\n{\n  \"titulo\": string,\n  \"categoria\": string,\n  \"valor\": number,\n  \"data\": string (formato DD-MM-YYYY HH:MM)\n}\n\n### Regras:\n- O campo `valor` deve ser convertido para número com ponto decimal como separador, se necessário (ex: \"18,50\" → 18.5).\n- O campo `data` deve conter a data e hora atual no formato `DD-MM-YYYY HH:MM`, com base no horário da execução da análise.\n- A `categoria` deve sempre ser uma das opções listadas abaixo.\n- Se a mensagem não contiver informações suficientes ou válidas, retorne `null` para todos os campos, inclusive para `id` e `data`.\n- Não adicione nenhum texto fora do JSON.\n\n### Categorias possíveis:\nUse sempre uma dessas categorias como base:\n\n- Alimentação\n- Transporte\n- Saúde\n- Moradia\n- Lazer\n- Compras\n- Educação\n- Assinaturas\n- Investimentos\n- Viagem\n- Animais\n- Cuidados pessoais\n- Presentes\n- Doações\n- Impostos\n- Taxas bancárias\n- Serviços domésticos\n- Manutenção de veículo\n- Combustível\n- Supermercado\n- Farmácia\n- Roupas\n- Bebidas\n- Delivery\n- Internet\n- Luz\n- Água\n- Gás\n- Celular\n- Seguro\n- Academia\n- Estacionamento\n- Multas\n- Cartão de crédito\n- Outros"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        400,
        1900
      ],
      "id": "4ec39ad8-1d7d-41f3-862f-0f408bac82c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        2100
      ],
      "id": "f801916a-89ff-4152-b55f-9a88eff03a58",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "k1CalL0Uz3pXCViN",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"titulo\": \"\",\n  \"categoria\": \"\",\n  \"valor\": 2,\n  \"data\": \"\" \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        580,
        2120
      ],
      "id": "3033ef05-0461-4ac0-8ea2-7aff91caabdc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Gasto adicionado com sucesso! Valor Total Gasto no Mês: {{ $json.somaTotal }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1480,
        1900
      ],
      "id": "cc1fff82-5756-49cc-97e4-978f1d4312b1",
      "name": "Envia Resposta",
      "webhookId": "f936244c-7b26-4d5a-9fa9-bfacc102c543",
      "credentials": {
        "telegramApi": {
          "id": "vwyaTrCTI2YuCcWf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "16x8ewHt6ehIfbRnMZ1s7X3bHY8gNOwPxqscZzmBCmyw",
          "mode": "list",
          "cachedResultName": "Controle Financeiro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16x8ewHt6ehIfbRnMZ1s7X3bHY8gNOwPxqscZzmBCmyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Maio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16x8ewHt6ehIfbRnMZ1s7X3bHY8gNOwPxqscZzmBCmyw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Titulo": "={{ $json.output.titulo }}",
            "Categoria": "={{ $json.output.categoria }}",
            "Valor": "={{ $json.output.valor }}",
            "Data": "={{ $json.output.data }}"
          },
          "matchingColumns": [
            "Titulo"
          ],
          "schema": [
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        780,
        1900
      ],
      "id": "aa8bdc30-79ff-42eb-95db-be386a83613c",
      "name": "Escreve Nova Linha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kUDd5CZIXkxVRjK8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2080,
        1640
      ],
      "id": "67ef4c1f-0824-48e6-b934-bc3b9295daf7",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        460,
        2320
      ],
      "id": "0855b24e-fae9-4838-8e40-a0dc511ba4bf",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16x8ewHt6ehIfbRnMZ1s7X3bHY8gNOwPxqscZzmBCmyw",
          "mode": "list",
          "cachedResultName": "Controle Financeiro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16x8ewHt6ehIfbRnMZ1s7X3bHY8gNOwPxqscZzmBCmyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Maio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16x8ewHt6ehIfbRnMZ1s7X3bHY8gNOwPxqscZzmBCmyw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        1900
      ],
      "id": "a270adde-cc2c-489b-8539-304b662af3c3",
      "name": "Google Sheets Busca",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kUDd5CZIXkxVRjK8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const somaTotal = $input.all().reduce((total, item) => total + item.json.Valor, 0);\n\nreturn [\n  {\n    json: {\n      somaTotal: somaTotal.toLocaleString('pt-BR', {\n        style: 'currency',\n        currency: 'BRL',\n      }),\n      chatId: $('Webhook1').first().json.body.message.chat.id\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        1900
      ],
      "id": "b90802c5-d37c-45ba-a8d9-412728c6ef87",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Escreve Nova Linha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Envia Resposta": {
      "main": [
        []
      ]
    },
    "Escreve Nova Linha": {
      "main": [
        [
          {
            "node": "Google Sheets Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Busca": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Envia Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a36ac81-4403-4d53-9552-e264f38da3a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e845bffa51e68eefd4dee880085c6f81596826002ca0d8c6bcf74febd7ceccb7"
  },
  "id": "w1pQkoECzdrsyRmL",
  "tags": [
    {
      "createdAt": "2025-05-08T02:48:49.880Z",
      "updatedAt": "2025-05-08T02:48:49.880Z",
      "id": "9vAHNARI4StGWmii",
      "name": "NoCode StartUp"
    }
  ]
}
